*{ box-sizing: border-box; }
html, body{
    background-color: #f4f7f6;
}
.wrap{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.login-form{
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.35);
    font-size: 18px;
    font-weight: 600;
}