.wrap{
    width: 1200px;
    min-height: auto;
    margin: 0 auto;
    background-color: #C4E1FF;
    padding-bottom: 20px;
}
.header{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding:10px;
}
.return{
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px black;
}
.return a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.title{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.title-h2{
    font-size: 36px;
    font-weight: bold;
}
.main-table{
    width: 1100px;
    margin: 0 auto;
    
    
}
.main-table th{
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid black;
}
.main-table td{
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid black;
}
